<h1>Md. Mazharul Isam</h1>
<p>This is the home page of the sample app.
	<ul>
		<li> Youtube </li>
		<li> Google </li>
		<li> Facebook </li>
		<li> Tweeter </li>
 </p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>